<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CovidTable.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ACFF0387279624E4006BCAFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACFF039B279624E6006BCAFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACFF03A6279624E6006BCAFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
